.header-container {
    display: flex;
    justify-content: flex-end;

    :global(.btn--secondary) {
        margin-top: -37px;
    }
}

.add_study {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
